<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/lo.png" alt="Company Logo" style="width:70px" /><span><p style="color: white;">company name</p></span>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
           <i class='bx bx-link-alt'></i>
            <span class="links_name">Affliate Link Generate</span>
  </a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a> -->

</mat-nav-list>
