

  <div class="form-main">
  <div class="child-form">
    <form #linkForm="ngForm" (ngSubmit)="link(linkForm.value)">
      <input [(ngModel)]="productlink" name="productlink" type="text"  placeholder="Product Link" >
      <input  [(ngModel)]="campaignid" name="campaignid" type="text"  placeholder="Campaign Id" >
      <input [(ngModel)]="adgroupid"  name="adgroupid" type="text"  placeholder="Adgroup Id" >
      <input [(ngModel)]="creavtiveid"  name="creavtiveid" type="text"  placeholder="Creavtive Id" >
      <div class="btn-form">
        <button class="btn btn-primary" style="width: 30%;">Submit</button>
      </div>
    </form>
    </div>
  </div>

